@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  --Light-red: hsl(0, 100%, 67%); /* 	rgb(255, 87, 87) */
  --Orangey-yellow: hsl(39, 100%, 56%); /* rgb(255, 176, 31) */ 
  --Green-teal: hsl(166, 100%, 37%); /* rgb(0, 189, 145) */
  --Cobalt-blue: hsl(234, 85%, 45%); /*	rgb(17, 37, 212) , hex #1125d4 */
  --Light-slate-blue: hsl(252, 100%, 67%); /* 	rgb(120, 87, 255) , hex #7857ff */
  --Light-royal-blue: hsl(241, 81%, 54%); /*	rgb(46, 43, 233) , hex #2e2be9 */
  --Violet-blue: hsla(256, 72%, 46%, 1); /* rgb(78, 33, 202) */
  --Persian-blue: hsla(241, 72%, 46%, 0); /* rgb(36, 33, 202) */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%); /* rgb(48, 59, 90) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

.card {
  width: 700px;
  height: 450px;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  margin: 100px auto;
  box-shadow: 5px 4px 14px 0px rgba(48,59,90,0.2);
}

.result {
  background: linear-gradient(to top, #1125d4 0%, #7857ff 100%);
  width: 50%;
  text-align: center;
  border-radius: 30px;
  padding: 20px 10px;
}

.your-result {
  margin-bottom: 20px;
}

.dot {
  height: 200px;
  width: 200px;
  background-color: var(--Violet-blue);
  border-radius: 50%;
  display: inline-block;
  padding-top: 40px;
}

.number {
  font-size: 80px;
}

.result h2, h3 {
  color: var(--White);
}

.result h4, .result-p {
  color: var(--Light-lavender);
  padding: 0 45px;
}

.great {
  font-size: 26px;
  margin: 20px 0;
}

.summary {
  background-color: var(--White);
  width: 50%;
  margin-left: 20px;
  border-radius: 30px;
}

.summary h4 {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
}

.score {
  padding: 15px;
  border-radius: 8px;
  width: 80%;
  margin: 18px 0;
}

.score p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.red {
  background: rgba(255, 87, 87, 0.1);
}

.yellow {
  background: rgba(255, 176, 31, 0.1);
}

.green {
  background: rgb(0, 189, 145, 0.1);
}

.blue {
  background: 	rgba(78, 33, 202, 0.1);
}

button {
  background-color: var(--Dark-gray-blue);
  color: white;
  padding: 15px;
  margin-top: 15px;
  width: 80%;
  border-radius: 30px;
  cursor: pointer;
}